:root{
    --theme-l5: #f9fdfc;
    --theme-l4: #eaf8f6;
    --theme-l3: #d5f2ee;
    --theme-l2: #c1ebe5;
    --theme-l1: #ace4dd;
    --theme: #97ddd4;
    --theme-d1: #7bd4c8;
    --theme-d2: #5fcbbd;
    --theme-d3: #43c2b1;
    --theme-d4: #37a999;
    --theme-d5: #2e8d80;
    --fg-text-color: #ffffff;
    --bg-text-color: #000000;
}

/* Global Rulings */
html{
    font-family: 'Lato', sans-serif;
}

body{
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: var(--theme-l3);
}

h4, h5, p{
    font-family: 'PT Sans', sans-serif;
}

.sub-container{
    width: 80%;
    margin: auto;
}

/* Header */
header{
    background-color: var(--theme-d3);
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    margin: 0;
    border-bottom: var(--theme-d5) 5px solid;
}

header h1{
    padding: 0;
    margin: 0;
}

header a{
    text-decoration: none;
}

header li{
    float: left;
    display: inline;
    padding: 0 15px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header #branding h1 span{
    color: var(--theme-l2);
}

header nav{
    float: right;
    margin-top: 10px;
}

header .current a{
    color: var(--theme-l2);
    font-weight: bold;
}